@model List<dynamic>
@{
    // Assuming ItemListData is a List<SelectListItem> in your controller
    var itemList = ViewBag.ItemListData as List<SelectListItem>;
    var isMob = Context.Request.HttpContext.Session.GetInt32("Ismobile");
    var itemCount = itemList?.Count ?? 0;
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<h2>Purchase</h2>


<div style="display:flex;flex-direction: row-reverse;margin-top:-30px;margin-bottom:15px">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <a href="@Url.Action("IncOrders", "Incoming")" class="btn btn-primary">ADD</a>

</div>

<style>

    .vertical-line {
        border-left: 1px solid #ccc; /* Adjust the color and style as needed */
        height: 400px; /* Adjust the height as needed */
    }

    .hide{
        display:none;
    }
    label + label{
        margin-top:0px;
    }
</style>
@if(isMob == 1)
{
    <div class="col-md-6 hide" id="po">
        <h4>Purchase Order</h4>
        <form style="padding:10px">

            <div class="form-group row" style="flex-wrap:nowrap">
                <label for="" class="col-sm-3 col-form-label">Purchase ID</label>
                <label id="purId" class="col-sm-4 col-form-label"></label>
            </div>

            <div class="form-group row" style="flex-wrap:nowrap">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Date</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="date" aria-describedby="emailHelp">
                </div>
            </div>

            <div class="form-group row" style="flex-wrap:nowrap">
                <label for="vendorDropdown" class="col-sm-3 col-form-label">Vendor</label>
                <div class="col-sm-4">
                    <select class="form-control" id="vendorDropdown">
                       
                        @foreach (var vendor in ViewBag.VendorListData)
                        {
                            <option value="@vendor.id">@vendor.name</option>
                        }
                    </select>
                </div>
            </div>

            <label style="display:none" id="ID"></label>

            <div id="editableTableContainer">
            </div>

        </form>
        <button type="button" style="margin-bottom:10px" onclick="updateItemList()" class="btn btn-primary">Update</button>
    </div>

}

<div class="container">
    <div class="row">
        <!-- Left side with the table -->
        <div class="col-md-5">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>
                            Vendor Name
                        </th>
                        <th>
                            Purchase ID
                        </th>
                        <th>
                            Order Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="clickable-row" data-id="@item.purchase_Order_Id" onclick="OpenPurchaseInfo('@item.purchase_Order_Id')">
                            <td>
                                @item.vendorName
                            </td>
                            <td>
                                @item.purchase_Order_Id
                            </td>
                            <td>
                                @item.order_Date
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (isMob == 0)
        {
            <div class="vertical-line"></div>
            <div class="col-md-6 hide" id="po">
                <h4>Purchase Order</h4>
                <form style="padding:10px">

                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Purchase ID</label>
                        <label id="purId" class="col-sm-4 col-form-label"></label>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Date</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="date" aria-describedby="emailHelp">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="vendorDropdown" class="col-sm-3 col-form-label">Vendor</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="vendorDropdown">
                              
                                @foreach (var vendor in ViewBag.VendorListData)
                                {
                                    <option value="@vendor.id">@vendor.name</option>
                                }
                            </select>
                    </div>
                </div>

                <label style="display:none" id="ID"></label>

                <div id="editableTableContainer">
                   
                </div>

            </form>
            <button type="button" onclick="updateItemList()" class="btn btn-primary">Update</button>
        </div>
        }
    </div>
</div>
<script>
    var itemListData = @Html.Raw(Json.Serialize(itemList));

        $(document).on('change', '.dd select', function () {
        $(this).find('option').removeAttr('selected');

        // Set 'selected' attribute for the chosen option
        var selectedValue = $(this).val();
        $(this).find('option[value="' + selectedValue + '"]').attr('selected', 'selected');
            // Your additional logic here
        });

    function OpenPurchaseInfo(purchase_Order_Id) {

        $.ajax({
            url: '/Incoming/GetOrderInfoByPurchaseOrderId',
            type: 'GET',
            data: { Id: purchase_Order_Id },
            dataType: 'json', 
            success: function (response) {
                $('#editableTableContainer').html(generateEditableTable(response));
                $("#po").removeClass("hide");
                //console.log(response);
            },
            error: function (error) {
                console.log("Error: " + error);
            }
        });

    }

    function generateEditableTable(data) {

        $("#date").datepicker();
        var orderDate = new Date(data[0].order_Date);
        $("#date").datepicker("setDate", orderDate);
        $("#purId").text(data[0].purchase_Order_Id);
        $("#vendorDropdown").val(data[0].vendor_Id);
        $("#ID").val(data[0].id);
        var tableHtml = '<table class="table table-sm">';
        tableHtml += '<thead><tr><th>Item Name</th><th>Quantity</th><th>Item Price</th></tr></thead>';
        tableHtml += '<tbody>';

        var itemListData = @Html.Raw(Json.Serialize(itemList));
        for (var i = 0; i < data.length; i++) {
            tableHtml += '<tr>';
            tableHtml += '<td contenteditable="true" style="display: none;">' + data[i].itemId + '</td>';
            tableHtml += '<td contenteditable="true" class="dd">' + generateDropdownHtml(data[i].itemId) + '</td>';
            tableHtml += '<td contenteditable="true">' + data[i].quantity + '</td>';
            tableHtml += '<td contenteditable="true">' + data[i].itemBuyingPrice + '</td>';
            tableHtml += '</tr>';
        }

        tableHtml += '</tbody></table>';

        return tableHtml;
    }

    function generateDropdownHtml(selectedItemId) {
        var dropdownHtml = '<select>';
        for (var j = 0; j < itemListData.length; j++) {
            var item = itemListData[j];
            var selected = (item.value == selectedItemId) ? 'selected' : '';
            dropdownHtml += '<option value="' + item.value + '" ' + selected + '>' + item.text + '</option>';
        }
        dropdownHtml += '</select>';
        return dropdownHtml;
    }

    function updateItemList()
    {

        var inc_Orders = {
            Purchase_Order_Id: $("#purId").text(),
            Vendor_Id: $("#vendorDropdown").val(),
            Order_Date: $("#date").val(),
            Actual_Date: $("#date").val(),
            Id: $("#ID").val()
        };

        var editedData = [];

        // Loop through each row in the table
        $("#editableTableContainer tbody tr").each(function () {
            var itemData = {
                Item_Id: $(this).find("td:nth-child(2) select").val(),
                Quantity: $(this).find("td:nth-child(3)").text()
            };
            editedData.push(itemData);
        });

        $.ajax({
            url: '/Incoming/UpdateIncOrders',
            type: 'POST',
            data: { Inc_Orders: inc_Orders, OrderItems: editedData },
            success: function (response) {
                location.reload();
                console.log(response);
            },
            error: function (error) {
                location.reload();
                console.error(error);
            }
        });
    }


</script>