@model List<dynamic>


<h2>Purchase</h2>

<div style="display:flex;flex-direction: row-reverse;margin-top:-30px;margin-bottom:15px">
    <a href="@Url.Action("IncOrders", "Incoming")" class="btn btn-primary">ADD</a>
</div>


<table class="table" id="assignTable">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Quantity (+)
            </th>
            <th>
                Order Date
            </th>
            <th>
                Vendor Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.itemName
                </td>
                <td>
                    @item.quantity
                </td>
                <td>
                    @item.actual_Date
                </td>
                <td>
                    @item.vendorName
                </td>

            </tr>
        }


    </tbody>
</table>

        <script>
            $(document).ready(function () {
        $('#assignTable').DataTable();

            });


        </script>