@model IEnumerable<BackendAPI.Models.Roles.Staff>

<script src="~/js/jquery-3.7.1.min.js"></script>
@{
    ViewData["Title"] = "List";
}

<style>
    input.larger {
        width: 20px;
        height: 20px;
    }


    .cbalign {
        -webkit-writing-mode: vertical-lr;
    }

    .rowPm .endb-checkbox {
        pointer-events: auto;
        background-color: transparent;
    }

    .disabled-row {
        pointer-events: none;
        opacity: 0.4;
    }

    .vertical-line {
        border-left: 1px solid #ccc; /* Adjust the color and style as needed */
        height: 400px; /* Adjust the height as needed */
    }

    .hide {
        display: none;
    }
</style>
<div class="row" style="justify-content:flex-end">
<a href="/Roles/Index"  class="btn btn-link">Add Roles</a>
</div>
<div class="container">
    <div class="row">
        <!-- Left side with the table -->
        <div class="col-md-5">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Staff_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RoleType)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="clickable-row" data-id="@item.Id" onclick="StaffAccessInfo('@item.Id')">


                            <td>
                                @Html.DisplayFor(modelItem => item.Staff_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleType)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="vertical-line"></div>

        <div class="col-md-6 hide" id="po">
            <div style="padding-bottom:10px">

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputname" class="form-label">Name</label>
                        <input type="text" class="form-control" id="stname">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="text" class="form-control" id="stemail">
                    </div>
                    <div class="col-md-4">
                        <label for="sttype" class="form-label">Type</label>
                        <select id="sttype" class="form-control" name="Type" required>
                            <option value="Admin">Admin</option>
                            <option value="User">User</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="alert alert-info alert-dismissible fade show col-sm-12" style="display:none" id="warning" role="alert">
                Admin has all the rights
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div id="rolesUI" style="margin:15px">
                <div class="row rowPms align-items-center">
                    <div class="col-sm-3"><h6>Show/Hide</h6></div>
                    <div class="col-sm-3"><h6></h6></div>
                    <div class="col-sm-3  "><h6>Create</h6></div>
                    <div class="col-sm-3"><h6>Modify</h6></div>
                </div>


                <div class="row rowPm">
                    <div class="col-sm-2 cbalign">
                        <label class="checkbox">
                            <input type="checkbox" class="larger endb-checkbox">&nbsp;
                        </label>
                    </div>
                    <div class="col-sm-3 head"><h6>Items</h6></div>
                    <div class="col-sm-3 col-5 cbalign">
                        <h6>
                            <label class="checkbox">
                                <input type="checkbox" class="larger create-checkbox">&nbsp;<br>
                            </label>
                        </h6>
                    </div>
                    <div class="col-sm-3 cbalign">
                        <h6>
                            <label class="checkbox">
                                <input type="checkbox" class="larger modify-checkbox">&nbsp;
                            </label>
                        </h6>
                    </div>
                </div>

                <div class="row rowPm">
                    <div class="col-sm-2 cbalign">
                        <label class="checkbox">
                            <input type="checkbox" class="larger endb-checkbox">&nbsp;
                        </label>
                    </div>
                    <div class="col-sm-3 head"><h6>Category</h6></div>
                    <div class="col-sm-3 col-5 cbalign">
                        <h6>
                            <label class="checkbox">
                                <input type="checkbox" class="larger create-checkbox">&nbsp;<br>
                            </label>
                        </h6>
                    </div>
                    <div class="col-sm-3 cbalign">
                        <h6>
                            <label class="checkbox">
                                <input type="checkbox" class="larger modify-checkbox">&nbsp;
                            </label>
                        </h6>
                    </div>
                </div>

                <div class="row rowPm">
                    <div class="col-sm-2 cbalign">
                        <label class="checkbox">
                            <input type="checkbox" class="larger endb-checkbox">&nbsp;
                        </label>
                    </div>
                    <div class="col-sm-3 head"><h6>Incoming Orders</h6></div>
                    <div class="col-sm-3 col-5 cbalign">
                        <h6>
                            <label class="checkbox">
                                <input type="checkbox" class="larger create-checkbox">&nbsp;<br>
                            </label>
                        </h6>
                    </div>
                    <div class="col-sm-3 cbalign">
                        <h6>
                            <label class="checkbox">
                                <input type="checkbox" class="larger modify-checkbox">&nbsp;
                            </label>
                        </h6>
                    </div>
                </div>

                <div class="row rowPm">
                    <div class="col-sm-2 cbalign">
                        <label class="checkbox">
                            <input type="checkbox" class="larger endb-checkbox">&nbsp;
                        </label>
                    </div>
                    <div class="col-sm-3 head"><h6>Vendor</h6></div>
                    <div class="col-sm-3 col-5 cbalign">
                        <h6>
                            <label class="checkbox">
                                <input type="checkbox" class="larger create-checkbox">&nbsp;<br>
                            </label>
                        </h6>
                    </div>
                    <div class="col-sm-3 cbalign">
                        <h6>
                            <label class="checkbox">
                                <input type="checkbox" class="larger modify-checkbox">&nbsp;
                            </label>
                        </h6>
                    </div>
                </div>

                <div class="row rowPm">
                    <div class="col-sm-2 cbalign">
                        <label class="checkbox">
                            <input type="checkbox" class="larger endb-checkbox">&nbsp;
                        </label>
                    </div>
                    <div class="col-sm-3 head"><h6>Outgoing Orders</h6></div>
                    <div class="col-sm-3 col-5 cbalign">
                        <h6>
                            <label class="checkbox">
                                <input type="checkbox" class="larger create-checkbox">&nbsp;<br>
                            </label>
                        </h6>
                    </div>
                    <div class="col-sm-3 cbalign">
                        <h6>
                            <label class="checkbox">
                                <input type="checkbox" class="larger modify-checkbox">&nbsp;
                            </label>
                        </h6>
                    </div>
                </div>

                <div class="row rowPm">
                    <div class="col-sm-2 cbalign">
                        <label class="checkbox">
                            <input type="checkbox" class="larger endb-checkbox">&nbsp;
                        </label>
                    </div>
                    <div class="col-sm-3 head"><h6>Customer</h6></div>
                    <div class="col-sm-3 col-5 cbalign">
                        <h6>
                            <label class="checkbox">
                                <input type="checkbox" class="larger create-checkbox">&nbsp;<br>
                            </label>
                        </h6>
                    </div>
                    <div class="col-sm-3 cbalign">
                        <h6>
                            <label class="checkbox">
                                <input type="checkbox" class="larger modify-checkbox">&nbsp;
                            </label>
                        </h6>
                    </div>
                </div>
            </div>

            <button type="button" style="margin-bottom:10px" onclick="submitForm()" class="btn btn-primary">Update</button>
            <button type="button" style="margin-bottom:10px" onclick="deleteForm()" class="btn btn-warning">Delete</button>

        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

        var pubid;
        // Disable every row except the checkbox with class 'endb-checkbox' checked
       $('.rowPm:not(:has(.endb-checkbox:checked))').addClass('disabled-row');

      // Handle change event of 'endb-checkbox'
        $('.endb-checkbox').change(function () {
            var row = $(this).closest('.rowPm');
            if (this.checked) {
                row.removeClass('disabled-row');  // Enable the row if the checkbox is checked
            } else {
                row.addClass('disabled-row');  // Disable the row if the checkbox is not checked
            }
        });

        $("#sttype").change(function () {
            if ($(this).val() === "Admin") {
                $("#rolesUI").hide();
                $("#warning").show();
            } else {
                $("#rolesUI").show();
                $("#warning").hide();
            }
        });

    });

    function StaffAccessInfo(id) {

        pubid = id;

        $.ajax({
            url: '/Roles/GetAccessById',
            type: 'GET',
            data: { Id: id },
            dataType: 'json',
            success: function (response) {
                updateCheckboxes(response);
                $("#po").removeClass("hide");
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    function updateCheckboxes(datas) {
        $('.endb-checkbox, .create-checkbox, .modify-checkbox').prop('checked', false);

        $("#stname").val(datas.staffName);
        $("#stemail").val(datas.staffEamil);
        $("#sttype").val(datas.staffRoleTypr);


        if (datas.staffRoleTypr != "Admin") {

            $("#rolesUI").show();
            $("#warning").hide();
            datas.accessValue.forEach(function (data) {
                // Find the row based on the sidebar name
                var row = $(".rowPm:has(.head:contains('" + data.sideBarName + "'))");

                // Find the checkboxes within the row
                var endbCheckbox = row.find('.endb-checkbox');
                var createCheckbox = row.find('.create-checkbox');
                var modifyCheckbox = row.find('.modify-checkbox');

                // Enable endb-checkbox if it exists in the row
                if (endbCheckbox.length > 0) {
                    endbCheckbox.prop('checked', true);
                }

                // Check create-checkbox if isCreate is true
                if (data.isCreate) {
                    createCheckbox.prop('checked', true);
                }

                // Check modify-checkbox if isModify is true
                if (data.isModify) {
                    modifyCheckbox.prop('checked', true);
                }
            });
        }else
        {
            $("#rolesUI").hide();
            $("#warning").show();
        }

        $('.endb-checkbox').each(function () {
            var row = $(this).closest('.rowPm');
            if (this.checked) {
                row.removeClass('disabled-row');  // Enable the row if the checkbox is checked
            } else {
                row.addClass('disabled-row');  // Disable the row if the checkbox is not checked
            }
        });
        
    }

    function submitForm() {
        //user info
        var staffObject = {
            Id: pubid,
            Staff_Name: $('#stname').val(),
            Email: $('#stemail').val(),
            RoleType: $('#sttype').val(),
            Password: "string"
        };


        var data = [];

        $(".rowPm").each(function () {
            var row = $(this);
            var sidename = row.find("h6").text().trim();
            var createChecked = row.find(".create-checkbox").is(":checked") ? true : false;
            var modifyChecked = row.find(".modify-checkbox").is(":checked") ? true : false;

            if (row.find(".endb-checkbox").is(":checked")) {
                data.push({
                    SideBarName: sidename,
                    IsCreate: createChecked,
                    IsModify: modifyChecked
                });
            }
        });

        $.ajax({
            url: '/Roles/UpdateStaff',
            type: 'POST',
            contentType: 'application/json', // Ensure correct Content-Type
            dataType: 'json', // Expect JSON response
            data: JSON.stringify({ staff: staffObject, staffAccess: data ,password:"string" }),
            success: function (data) {
                if (data.success) {
                    Swal.fire({
                        icon: "success",
                        title: "Staff Updated",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    setTimeout(() => {
                        location.reload();
                    }, 1300);

                } else {
                    alert("Failed to update staff . Please try again.");
                }
            },
            error: function () {
                alert("Failed to update staff .Please try again.");
            }
        });
    }

    function deleteForm()
    {
        var id = pubid;

        $.ajax({
            url: '/Roles/DeleteStaff',
            type: 'POST',
            dataType: 'json', // Expect JSON response
            data: { Id: id },
            success: function (data) {
                if (data.success) {
                    Swal.fire({
                        icon: "success",
                        title: "Staff Deleted",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    setTimeout(() => {
                        location.reload();
                    }, 1300);

                } else {
                    alert("Failed to delete staff . Please try again.");
                }
            },
            error: function () {
                alert("Failed to delete staff .Please try again.");
            }
        });
    }

</script>
