@model List<dynamic>

@{
    ViewData["Title"] = "Index";
}

<style>
    #addcat {
        color: blue;
        font-weight: bold;
        background-color: #f0f0f0; /* Background color */
        padding: 5px 10px; /* Padding to make it look like a button */
        border: 1px solid #ccc; /* Border for a button-like appearance */
        cursor: pointer;
        display: block;
        width: 100%;
        text-align: left;
    }
</style>

<h2>Items</h2>

<div style="display:flex;flex-direction: row-reverse;margin-top:-30px;margin-bottom:15px">
    <button type="button" id="new" class="btn btn-primary">NEW</button>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Category Name
            </th>
            <th>
                Buying Price
            </th>
            <th>
                Selling Price
            </th>
            <th>
                Vendor Name
            </th>
            <th>
                Unit Type
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.name
                </td>
                <td>
                    @item.categoryName
                </td>
                <td>
                    @item.buying_Price
                </td>
                <td>
                    @item.selling_Price
                </td>
                <td>
                    @item.vendorName
                </td>
                <td>
                    @item.unitTypeName
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |

                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

        @* modal code strat here *@
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Items</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row" style="padding-bottom:10px">
                            <div class="col-md-4">
                                <label for="inputname" class="form-label">Product Name</label>
                                <input type="text" class="form-control" id="inputname">
                            </div>

                            <div class="col-md-4">
                                <label for="inputtype" class="form-label">Unit Type</label>
                                <select id="inputtype" class="form-control">
                                    <option selected>Select</option>
                                    @foreach (var unit in ViewBag.Unit)
                                    {
                                        <option value="@unit.id">@unit.name</option>
                                    }
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label for="inputtype" class="form-label">Category</label>
                                <select id="category" onchange="handleSelection(this)" class="form-control">
                                    <option selected>Select</option>
                                    <option value="addcat">&#43; Add Category</option>

                                    @foreach (var category in ViewBag.Category)
                                    {
                                        <option value="@category.id">@category.name</option>
                                    }


                                </select>
                            </div>

                            <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Min Stock Level</label>
                                <input type="number" class="form-control" id="minstocklvl">
                            </div>

                            <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Opening Stock </label>
                                <input type="number" class="form-control" id="openstock">
                            </div>

                            <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Barcode</label>
                                <input type="number" class="form-control" id="barcode">
                            </div>


                            <hr style="margin-top:30px;margin-bottom:20px" />

                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="cbIsPurchase">
                                    <label class="form-check-label">
                                        Purchase Information
                                    </label>
                                </div>
                                <label for="inputEmail4" class="form-label">Cost Price</label>
                                <input type="number" class="form-control" id="costprice">
                            </div>


                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="cbIsSell">
                                    <label class="form-check-label">
                                        Sell Information
                                    </label>
                                </div>
                                <label for="inputEmail4" class="form-label">Selling Price</label>
                                <input type="number" class="form-control" id="sellprice">
                                <div class="col-md-6">
                                    <label for="inputtype" class="form-label">Supplier</label>
                                    <select id="supplier" class="form-control">
                                        <option selected>Select</option>
                                        @foreach (var vendors in ViewBag.Vendor)
                                        {
                                            <option value="@vendors.id">@vendors.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div style="margin-top:20px">
                                <button type="button" onclick="onSubmit()" class="btn btn-primary">ADD ITEM</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* modal code ends her e *@


    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function () {

        $("#sellprice").prop("disabled", true);
        $("#costprice").prop("disabled", true);

        $("#cbIsPurchase").change(function () {
            // Update the status of the input field when the checkbox changes
            updateInputPurchaseStatus();
        });
        $("#cbIsSell").change(function () {
            updateInputSellStatus();

        });

        $("#new").click(function () {
            $("#myModal").modal("show");
        });
    });

    function handleSelection(select) {
        var selectedValue = select.value;

        if (selectedValue === "addcat") {
            window.location.href = '/Item/ItemCategory';
        }
    }
    function updateInputPurchaseStatus() {
        // Enable or disable the input field based on the checkbox status
        if ($("#cbIsPurchase").prop("checked")) {
            $("#costprice").prop("disabled", false);
        } else {
            $("#costprice").val("");
            $("#costprice").prop("disabled", true);
        }
    }

    function updateInputSellStatus() {
        // Enable or disable the input field based on the checkbox status
        if ($("#cbIsSell").prop("checked")) {
            $("#sellprice").prop("disabled", false);
        } else {
            $("#sellprice").val("");
            $("#sellprice").prop("disabled", true);
        }
    }

    function onSubmit() {

        var name = $("#inputname").val();
        var type = $("#inputtype").val();
        var category = $("#category").val();
        var minstock = $("#minstocklvl").val();
        var openstock = $("#openstock").val();
        var barcode = $("#barcode").val();
        var cprice = $("#costprice").val();
        var sprice = $("#sellprice").val();
        var supplier = $("#supplier").val();


        $.ajax({
            url: '/Item/AddItem',
            type: 'POST',
            data: {
                Name: name,
                Unit_Type_Id: type,
                Category_Id: category,
                Buying_Price: cprice,
                Selling_Price: sprice,
                Stock_Alert: minstock,
                Opening_Stock: openstock,
                Vendor_Id: supplier,
                Barcode: barcode,
            },
            success: function (data) {
                console.log(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("AJAX error: " + textStatus + ", " + errorThrown);
                console.log("Response Text: " + jqXHR.responseText);
                console.log("Status Code: " + jqXHR.status);
                console.log("Status Text: " + jqXHR.statusText);
            }
        });
    }


</script>

