@model IEnumerable<BackendAPI.Models.Category>

<h2>Item Category</h2>

<script src="~/js/jquery-3.7.1.min.js"></script>
@* added 4 dattable *@
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div style="display:flex;flex-direction: row-reverse;">
    <button type="button" id="save" class="btn btn-primary">NEW</button>

</div>
<table class="table" id="assignTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var count = 1;
        }

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    <a href="javascript:void(0);" onclick="editCategoryModal('@item.Name','@item.Id')">Edit</a> |
                    <a href="javascript:void(0);" onclick="deleteCategory(@item.Id)">Delete</a>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>

<!-- Modal aDD Category -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" id="customCloseButton" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-md-6">
                    <label for="inputname" class="form-label">Name</label>
                    <input type="text" class="form-control" id="inputname">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="AddCat()" class="btn btn-primary">ADD</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editing Category -->
<div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCategoryModalLabel">Edit Category</h5>
                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <label for="editCategoryName" class="form-label">Category Name</label>
                    <input type="text" class="form-control" id="editCategoryName">
                    <input style="display:none" type="text" class="form-control" id="editCategoryID">
                </div>  
            </div>
            <div class="modal-footer">
                <button type="button" onclick="updateCategory()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#assignTable').DataTable();
        $("#save").click(function () {
            $("#myModal").modal("show");
        });
    });

    $('.modal .close').on('click', function () {
        // Trigger the close event for the modal that contains the clicked close button
        $(this).closest('.modal').modal('hide');
    });

    function AddCat() {
        var nameValue = $("#inputname").val();

        if (nameValue == '') {
            alert("kinldy fill all fields");

        } else {

            $.ajax({
                url: '/Item/ItemCategoryAdd',
                type: 'POST',
                data: { Name: nameValue },
                success: function (data) {
                    if (data.success) {
                        Swal.fire({
                            icon: "success",
                            title: "Category Added",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        setTimeout(() => {
                            location.reload();
                        }, 1300);

                    } else {
                        alert("Failed to add category. Please try again.");
                    }
                },
                error: function () {
                    alert("Failed to add category. Please try again.");
                }
            });
        }
    }

    function deleteCategory(categoryId) {
        if (confirm("Are you sure you want to delete this category?")) {
            $.ajax({
                url: '/Item/ItemCategoryDelete',
                type: 'POST',
                data: { Id: categoryId },
                success: function (data) {
                    if (data.success) {
                        Swal.fire({
                            icon: "success",
                            title: "Category Deleted",
                            showConfirmButton: false,
                            timer: 1000
                        });
                        setTimeout(() => {
                            location.reload();
                        }, 1000);

                    } else {
                        alert("Failed to delete category. Please try again.");
                    }
                },
                error: function () {
                    alert("Failed to delete category. Please try again.");
                }
            });
        }
    }

    function editCategoryModal(categoryName,categoryId) {
        // Populate modal input with the category name
        $('#editCategoryName').val(categoryName);
        $('#editCategoryID').val(categoryId);
        // Show the modal
        $('#editCategoryModal').modal('show');
    }

    function updateCategory() {

        var nameValue = $("#editCategoryName").val();
        var catId = $('#editCategoryID').val();

        if (nameValue == '') {
            alert("kindly fill the field");

        } else {

            $.ajax({
                url: '/Item/ItemCategoryEdit',
                type: 'POST',
                data: { Name: nameValue, Id: catId },
                success: function (data) {
                    if (data.success) {
                        Swal.fire({
                            icon: "success",
                            title: "Category Updated",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        setTimeout(() => {
                            location.reload();
                        }, 1300);

                    } else {
                        alert("Failed to update category. Please try again.");
                    }
                },
                error: function () {
                    alert("Failed to update category. Please try again.");
                }
            });
        }
    }
    

</script>
