<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- ==== Document Meta ==== -->
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- ==== Favicon ==== -->
    <link rel="icon" href="favicon.png" type="image/png">

    <!-- ==== Google Font ==== -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,500">

    <title>@ViewData["Title"] Inventory Management</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="~/assets/css/morris.min.css">
    <link rel="stylesheet" href="~/assets/css/select2.min.css">
    <link rel="stylesheet" href="~/assets/css/jquery-jvectormap.min.css">
    <link rel="stylesheet" href="~/assets/css/horizontal-timeline.min.css">
    <link rel="stylesheet" href="~/assets/css/weather-icons.min.css">
    <link rel="stylesheet" href="~/assets/css/dropzone.min.css">
    <link rel="stylesheet" href="~/assets/css/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="~/assets/css/ion.rangeSlider.skinFlat.min.css">
    <link rel="stylesheet" href="~/assets/css/datatables.min.css">
    <link rel="stylesheet" href="~/assets/css/fullcalendar.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

    @* added 4 dattable *@
    @*     <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    *@
</head>
@{
    var roletype = Context.Request.HttpContext.Session.GetString("roletype");
    var orgname = Context.Request.HttpContext.Session.GetString("orgname");
}

<body>
    <style>
        body {
            color: #0c0c0c !important;
        }

        .sidebar {
            color: #999 !important;
        }

        .sidebar--nav ul ul a {
            color: #cfcfcf !important;
        }

        .inverted-logo {
            filter: invert(1);
            background-color: #1c2324; /* Your desired color */
        }

    </style>

    @if (orgname != null)
    {
        <div class="wrapper">
            <header class="navbar navbar-fixed">
                <!-- Navbar Header Start -->
                <div class="navbar--header">
                    <!-- Logo Start -->
                    <a href="/Home/Index" class="logo">
                        <img src="~/images/whitelogo.png" alt="" class="inverted-logo"> Ninja Inventory
                    </a>

                    <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
                        <i class="fa fa-bars"></i>
                    </a>
                    <!-- Sidebar Toggle Button End -->
                </div>

                <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
                    <i class="fa fa-bars"></i>
                </a>
                <!-- Sidebar Toggle Button End -->

                <div class="navbar--nav ml-auto">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fa fa-bell"></i>
                                <span class="badge text-white bg-blue">7</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Logout", "Account")">Logout</a>
                        </li>

                    </ul>
                </div>
            </header>
            <!-- NavBar END -->
            <!-- Sidebar Start -->
            <div class="row" id="body-row" style="margin-left:20px">
                <aside class="sidebar" data-trigger="scrollbar">

                    <!-- Sidebar Profile Start -->
                    <div class="sidebar--profile">

                        <div class="profile--name">
                            <a class="nav-link" href="#top">@orgname<span class="sr-only">(current)</span></a>
                        </div>

                        <div class="profile--nav">
                            <ul class="nav">

                                <li class="nav-item">
                                    <a href="/Account/Logout" class="nav-link" title="Logout">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sidebar Profile End -->
                    <!-- Sidebar Navigation Start -->
                    <div class="sidebar--nav">
                        <ul>
                            <li>
                                <ul>
                                    <li class="active">
                                        <a href="/Home/Index">
                                            <i class="fa fa-home"></i>
                                            <span>Dashboard</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Items</a>

                                <ul>
                                    <li>
                                        <a href="/Item/Index">
                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                            <span>Add Items</span>
                                        </a>

                                    </li>
                                    <li>
                                        <a href="/Item/ItemCategory">
                                            <i class="fa fa-th-list"></i>
                                            <span>Category</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Incoming Order</a>
                                <ul>
                                    <li>
                                        <a href="/Incoming/GetIncORders">
                                            <i class="far fa-newspaper"></i>
                                            <span>Order</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Incoming/Index">
                                            <i class="fab fa-wpforms"></i>
                                            <span>Vendor</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Outgoing Order</a>
                                <ul>
                                    <li>
                                        <a href="/Outgoing/GetOutORders">
                                            <i class="far fa-newspaper"></i>
                                            <span>Order</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Outgoing/Index">
                                            <i class="fab fa-wpforms"></i>
                                            <span>Customer</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <ul>
                                    <li class="active">
                                        <a href="/Roles/Index">
                                            <i class="fa fa-home"></i>
                                            <span>Roles</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>


                            <li>
                                <ul>
                                    <li class="active">
                                        <a href="/Setting/Index">
                                            <i class="fa fa-home"></i>
                                            <span>Setting</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Sidebar Navigation End -->

                </aside>
                <!-- MAIN body-->
                <main class="main--container">
                    <div class="col p-4 ">
                        @RenderBody()
                    </div>
                </main>
            </div>
        </div>
    }
    else
    {
        <div class="container main--container">
            <div id="body-row">
                <div class="col p-4">
                    @RenderBody()
                </div>
            </div>
        </div>
    }
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/raphael.min.js"></script>
    <script src="~/assets/js/morris.min.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/jquery-jvectormap.min.js"></script>
    <script src="~/assets/js/jquery-jvectormap-world-mill.min.js"></script>
    <script src="~/assets/js/horizontal-timeline.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/jquery.steps.min.js"></script>
    <script src="~/assets/js/dropzone.min.js"></script>
    <script src="~/assets/js/ion.rangeSlider.min.js"></script>
    <script src="~/assets/js/datatables.min.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script src="~/lib/bootstrap/dist/js/sidebars.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

<script>

    // Hide submenus
    $('#body-row .collapse').collapse('hide');


    // Collapse/Expand icon
    $('#collapse-icon').addClass('fa-angle-double-left');

    // Collapse click
    $('[data-toggle=sidebar-colapse]').click(function () {
        SidebarCollapse();
    });

    function SidebarCollapse() {
        $('.menu-collapsed').toggleClass('d-none');
        $('.sidebar-submenu').toggleClass('d-none');
        $('.submenu-icon').toggleClass('d-none');
        $('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');

        // Treating d-flex/d-none on separators with title
        var SeparatorTitle = $('.sidebar-separator-title');
        if (SeparatorTitle.hasClass('d-flex')) {
            SeparatorTitle.removeClass('d-flex');
        } else {
            SeparatorTitle.addClass('d-flex');
        }

        // Collapse/Expand icon
        $('#collapse-icon').toggleClass('fa-angle-double-left fa-angle-double-right');
    }

</script>
